###> common ###
*.DS_Store
*.idea/*
*.log
*Thumbs.db
###< common ###

###> cache ###
.cache
/.php-cs-fixer.cache
###< cache ###

###> composer ###
auth.json
/vendor
###< composer ###

###> npm ###
/node_modules
###< npm ###

###> local ###
.env
/.php-cs-fixer.php
phpstan.neon
/phpunit.xml
###< local ###
/Makefile
