@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
// Variables
$color-border: #F3F4F6;
$color-text-primary: #111827;
$color-text-secondary: #666;
$color-text-light: #999;
$color-overlay: rgba(0, 0, 0, 0.5);
$color-hover: #000;
$color-error: #B91C1C;
$border-radius: 8px;
$spacing-base: 20px;

#header{
    width: 1024px !important;
    .btn{
        background-color: #473AE0 !important;
    }
}
#main-content{
    font-family: 'Inter', sans-serif;
    border-radius: var(--Radius-rounded-8, 8px);
    width: 1024px;
    h1{
        color: var(--Text-base-body-strong, $color-text-primary);
        font-size: var(--Font-Size-xl, 20px);
        font-style: normal;
        font-weight: var(--Font-Weight-Semi-Bold, 600);
        line-height: var(--Font-Line-height-text-xl, 22px); /* 110% */
        border-bottom: 1px solid $color-border;
        padding-bottom: 16px;
    }

    .heading{
        label{
            color: var(--Text-base-body-strong, $color-text-primary);
            font-size: 14px;
            font-style: normal;
            font-weight: var(--Font-Weight-Semi-Bold, 600);
            line-height: 19.6px; /* 140% */
        }
    }

    .instructions{
        p{
            color: var(--Text-base-secondary, #6B7280);
            font-size: var(--Font-Size-xs, 12px);
            font-style: normal;
            font-weight: var(--Font-Weight-Regular, 400);
            line-height: var(--Font-Line-height-text-xs, 16.8px); /* 140% */
        }
    }

    .field{
        margin-block-end: 0;
    }
    .input{
        input{

            &.is-valid{
                border-color: green;
            }

            &.is-invalid{
                border-color: var(--Text-danger-default, $color-error);
            }
            border-radius: var(--Radius-rounded-8, 8px);
            border: 1px solid var(--Border-base, #D1D5DB);
            background: var(--Background-neutral-default, #FFF);
            padding: var(--Spacing-p-12, 12px);
            align-items: flex-start;
            gap: var(--Spacing-p-16, 16px);
            width: 500px;
        }
    }

    .select{
        select{
            border-radius: var(--Radius-rounded-8, 8px);
            border: 1px solid var(--Border-base, #D1D5DB);
            background: var(--Background-neutral-default, #FFF);
            padding: var(--Spacing-p-12, 12px);
            align-items: flex-start;
            gap: var(--Spacing-p-16, 16px);
            width: 500px;
        }
    }

    .weglot-select-destination{
        .selectize-input{
            border-radius: var(--Radius-rounded-8, 8px);
            border: 1px solid var(--Border-base, #D1D5DB);
            background: var(--Background-neutral-default, #FFF);
            padding: var(--Spacing-p-12, 12px);
            align-items: flex-start;
            gap: var(--Spacing-p-16, 16px);
            width: 500px;
        }
    }

    [data-weglot-api-status] {
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        max-height: 0;
        opacity: 0;
        transform: translateY(10px);

        &.show {
            max-height: 100px;
            opacity: 1;
            transform: translateY(0);
            margin-top: 8px;
        }

        &.error-message{
            color: $color-error;
        }
    }

    .menu-card-link {
        text-decoration: none;
        color: inherit;
        display: block;
        transition: transform 0.2s ease;

        &:hover {
            transform: translateY(-2px);
        }
    }

    .menu-card {

        &.info-custom-button{
            background-color: #F9FAFB;
            border-radius: 8px;

            .btn-link{
                border-radius: 8px;
                border: 1px solid #F3F4F6;
                background-color: #ffffff;
                padding: 8px 12px;
                color: #1F2937 !important;
                font-size:14px;
                text-decoration: none;
                right: 25px;
                top:30% !important;
            }
        }
        background: transparent;
        border-radius: 12px;
        border: 1px solid #F3F4F6;
        padding: 16px 32px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        transition: box-shadow 0.2s;
        margin-top: 0px;
        position: relative;
        margin-bottom: 24px;

        &:hover {
            box-shadow: 0 2px 8px 0 rgba(24, 22, 76, 0.15);
            cursor: pointer;
        }

        &.coming-soon {
            background-color: #F9FAFB;

            &:hover {
                cursor: none;
            }
        }

        .card-title {
            font-size: 14px;
            font-weight: 600;
            line-height: 20px;
            color: #111827;

            .coming-soon{
                background-color: #EDEBFC;
                padding: 4px 8px;
                border-radius: 8px;
                color: var(--Text-brand-highlight, #473AE0);
                font-size: var(--Font-Size-xs, 12px);
                font-style: normal;
                font-weight: var(--Font-Weight-Regular, 400);
                line-height: var(--Font-Line-height-text-xs, 16.8px);
                margin-left: 5px;
            }
        }

        .card-desc {
            font-size: 14px;
            color: #6B7280;
            font-weight: 400;
            line-height: 20px;
        }

        .btn-link {
            position: absolute;
            right: 32px;
            top: 36%;
            color: #473AE0;
        }
    }

    .card-top {
        display: flex;
        align-items: center;
        gap: 12px; /* ajuste l’espacement horizontal */
    }

}

// Dashboard
.weglot-dashboard-container {
    padding-top: 48px;
}

// Modal Overlay
.weglot-box-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-overlay;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: center;
}

// Modal Box
.weglot-box {
    background: #fff;
    padding: 30px;
    border-radius: $border-radius;
    max-width: 500px;
    width: 90%;
    position: relative;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);

    &--title {
        margin: 0 0 15px 0;
        font-size: 20px;
        color: $color-text-primary;
    }

    &--text {
        margin: 0 0 $spacing-base 0;
        color: $color-text-secondary;
    }

    &--subtext {
        margin: $spacing-base 0 0 0;
        font-size: 13px;
        color: $color-text-light;
    }
}

// Close Button
.weglot-btn-close {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: $color-text-secondary;
    padding: 0;
    width: 30px;
    height: 30px;
    line-height: 1;

    &:hover {
        color: $color-hover;
    }
}
